<ion-view view-title="Goals">
    <ion-content overflow-scroll="true">
  
    <div class="card" ng-repeat="goal in goals" ng-class="goal.img ? 'card--expand' : ''" >
      <a href="#/app/goals/{{goal.id}}">
      <div class="item item-divider" style="background: url('{{goal.img}}') center / cover;">
          <h2>{{goal.title}}</span>
      </div></a>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-75" style="padding-top: 17px;">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{goal.saved / goal.amount * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{goal.saved / goal.amount * 100}}%">
                <b>{{goal.saved > goal.amount ? 'Completed!' : goal.saved + ' €'}} </b>
                <span class="sr-only">{{goal.saved}} € saved</span>
              </div>
            </div>
          </div>
          <div class="col col-25 inline">
            <button class="pull-right button button-small button-clear button-dark" ng-click="showLog(goal.id)"><i class="icon ion-plus-round"></i></button>
            <button class="pull-right button button-small button-clear button-dark" ng-click="deleteGoal(goal.id)"><i class="icon ion-trash-b"></i></button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
